.myDiv{
  border: 5px outset red;
  bottom: 50px;
  background-color: blueviolet;
}
h1{
  color: rgb(115, 255, 0);
  background: red;
}
h2{
  color: rgb(255, 139, 139);
  background: red;
}
h2{
  color: rgb(131, 54, 54);
  background: red;
}